header {
        background-color: #EAC926;
   }
body {
    background-color: rgb(235,235,235);
}   
h4{
    color: green;
}
.buscar{
    position: absolute;
    padding: 5px;
}
.buscar input{
    width: 240px;
    height: 40px;
    padding: 0 20 px;
    font-size: 18px;
    color:black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;

}
