<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Mercado Liebre</title>
    <link rel="stylesheet" type ="text/css" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/7f31ea2864.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<div class="burger-menu">
    <i class="fas fa-bars"></i>
    </div>

</head>

<header>

    <img src="/images/logo-mercado-liebre.svg" alt="" width="100%">

    <h2> Barra de busqueda </h2><i class="fa-regular fa-magnifying-glass"></i>
    <div>
    <div class="buscar">
        <input type="text" placeholder="Buscar" required>
        <div class="btn"></div>
    </div>
    </div>
    
    <br></br>
    <br></br>
    
    <i class="fa-regular fa-hand-holding-dollar"></i> <h3> Compra en cuotas y sin tarjeta de credito </h3>

<nav>
    <ul>
        <li><a href="https://www.google.com"> Ofertas </a></li>
        <li><a href="https://www.google.com"> Tiendas </a></li>
        <li><a href="https://www.google.com"> Ayuda </a></li>
    </ul>    
    <ul>    
        <li><a href="creaTuCuenta.html">Crea tu cuenta</a> <i class="fa-solid fa-id-card"></i></li>
        <li><a href="ingresa.html">Ingresa</a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
        <li><a href="misCompras.html"> Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
    </ul>    
</nav> 
    <br>
    
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

</header>
<img src="/images/img-home-banner.jpg" alt="" >

<body>

<h2> Basado en tu ultima visita</h2>

<div></div>
<section>

    <div class="container">
        <img src="/images/img-cafetera-moulinex.jpg" alt="">
        <section>
            <span class="negrita">$6.770</span><span class ="verde"> 40% off </span>
            </section>
        <h5>Cafetera Moulinex </h5>
    </div>

    <div class="container">
        <img src="/images/img-macbook-pro-2019.jpg" alt="">
        <section>
            <span class="negrita">$6.770</span><span class ="verde"> 40% off </span>
            </section>
        <h5> MacBook Pro 2019 </h5>
    </div>

<div class="container">
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="" >
    <section>
        <span class="negrita">$6.770</span><span class ="verde"> 40% off </span>
        </section>
    <h5>Samsung Galaxy S10</h5>
</div>

<div class="container">
    <img src="/images/img-tv-samsung-smart.jpg" alt="" >
    <section>
        <span class="negrita">$6.770</span><span class ="verde"> 40% off </span>
        </section>
    <h5> SmartTv Samsung 43"</h5> 
</div>
<h2>Sección de Ofertas </h2>

<div class="container">
<img src="/images/img-cafetera-moulinex.jpg" alt="">
<section>
<span class="negrita">$6.770</span><span class ="verde"> 40% off </span>
</section>
<h5>Cafetera Moulinex</h5>
</div>

<div class="container">
<img src="/images/img-macbook-pro-2019.jpg" alt="">
<section>
    <span class="negrita">$6.770</span><span class ="verde"> 40% off </span>
    </section>
<h5>MacBook Pro 2019</h5>
</div>

<div class="container">
<img src="/images/img-samsung-galaxy-s10.jpg" alt="">
<section>
    <span class="negrita">$6.770</span><span class ="verde"> 40% off </span>
    </section>
    <h5>Samsung Galaxy S10</h5>
    </div>


<div class="container">
<img src="/images/img-tv-samsung-smart.jpg" alt="">
<section>
    <span class="negrita">$6.770</span><span class ="verde"> 40% off </span>
    </section>
<h5>SmartTv Samsung 43"</h50>
</div>
</section>
</div>

</body>

<footer>

<div>
<br> <br> 
<div class ="footer1">

    <i class="fa-solid fa-credit-card losdeabajo" ></i>

    <h4>Pagá con tarjeta o en efectivo</h4> 
    <span>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</span>

    <i class="fa-solid fa-giftlosdeabajo"></i>
    
    <h4>Envío gratis desde $ 2.500</h4>
    <span>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</span>

    <i class="fa-solid fa-user-shield losdeabajo"></i>
    <h4>Seguridad, de principio a fin</h4>

    <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</span>
    
    
    <span>  Copyright © 1999-2020 MercadoLiebre S.R.L. </span>
    
</footer>
</html>